<!DOCTYPE html>
<html lang="en" >
<body>
<div>
  <nav class="p-3 bg-info text-dark">
    <div class="container-fluid">
      <a class="navbar-brand text-dark" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </nav>
  <div class="container">
    <h1 class="text-center mb-3">Todo List For You</h1>
    <app-todos></app-todos>
  </div>
</div>
</body>
</html>